<!doctype html>
<html>

<head>
    <title> {% block title %} City Data {% endblock %}</title>
    <link rel = "stylesheet" href = "/static/styles.css">
</head>

<body>
    {% block content %}{% endblock %}
    <table style="margin-left: 15px;"> 
            <th> 
                <tr style="color: green; font-weight: bold;">     
                    {% for line in wikiBatch[0] %}
                    <td style=" border: 1px solid black;">{{ line[2] }}</td> 
                    {% endfor %}                   
                </tr> 
            </th> 
        <tr> 
            {% for wiki in wikiBatch %}
            {% for line in wiki %}
            <td style=" border: 1px solid black;">{{ line[4] }}</td> 
            {% endfor %}
        </tr> 
            {% endfor %}
    </table> 

    {%block scripts%}{%endblock%}
    <!-- <script src="/static/scripts.js"></script> -->
    <a href="/">Go back to the index page</a>
    <a href="/download">Download the csv file with the city data</a>

</body>
</html>
