{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}
<!-- {{ super() }} calls in the base template for the section  -->
<link rel="stylesheet" href="/static/styles.css">
{% block content %}
{{ super() }}
<div class="lookup box">
    <h1>Hello, Welcome to the City-Data app. If you like data about cities all in one place, this is the app for you.
    </h1>
    <H1> Enter in a bunch of cities to find out the current temp and a bunch of information scraped from wikipedia.
    </h1>
    <h2> Long batches of cities will take longer to look up. Works best for American cities. Not all cities have </h2>
    <h2> information for bar graphs due to nonstandard wikipedia pages.</h2>

    <div class="SetNumberOfCities">
        <form>
            <label for="numberOfCities">How many cities would you like to look up? (Enter a number between 1 and 20)
            </label>
            <input class="numberOfCitiesBox userInput" name="numberOfCities" id="numberOfCities" type="text"
                maxlength="2" autocomplete="off" autofocus>
            <button type="button" id="createCityInputs"> Mouse Click to Submit</button>
        </form>
    </div>

    <div class="cityInputs" id="cityInputs">
        <h1></h1>
    </div>

    <div class="grid box">
    </div>

    <h3> AutoSuggestions for ~1000 most populated US cities from: https://simplemaps.com/data/us-cities</h3>
    <h3> Temperature information from openweathermap.org API</h3>
    <h3> All other information comes from scraping wikipedia</h3>


    {% endblock %}
    {% block scripts %}
    {{ super() }}
    {% endblock %}